/* 

  custom grid : 1440px;

*/

/* Root CSS :: Start */
:root {
  --primary-btn-color: #0b75f1;
  --global-font-color: #000000;
  --global-dash-font: #9C9CA4;
  --primary-font-color: #0b75f1;
  --primary-font-color-1: #141522;
  --primary-font-family: ;
  --btn-border-radius: 10px;
  --border-property: 1px solid #0b75f1;
  --global-hover-color: #F0F7FE;
  --global-bg-color: #F3F8FE;
  --dash-bg: #fafcff;
}

/* Root CSS :: End */

body {
  font-family: 'Poppins', sans-serif;
  background: var(--dash-bg);
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}